.parallax-section {
  height: 80vh;
  background: url(src\assets\img\main.png) center/cover no-repeat;
  background-attachment: fixed;
}

.parallax-section__text {
  font-size: 42px;
  padding-top: 200px;
  text-align: center;
}

.static-section {
  height: 80vh;
}