body {
  background-color: #fefde9;
}

.container {
  display: flex;
  justify-content: center;
  margin: 130px 20px 30px 20px;
}

table {
  max-width: 1320px;
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  /* background: linear-gradient(45deg, #292e1e, #060605); */
  background-color: #ffffff;
  font-size: 1.1875em;
  border-radius: 30px;
}

th,
td {
  padding: 15px;
  color: #251d1a;
}

th {
  text-align: left;
  color: #ffffff;
}

.table__header {
  background-color: #54a630;
}

tbody td {
  position: relative;
}

.btn__action {
  display: flex;
  align-items: center;
}

.btn__action_edit,
.btn__action_delete {
  cursor: pointer;
  margin: 10px;
  width: 30px;
  height: 30px;
  border: none;
}

.btn__action_edit {
  background: url('../../assets/img/edit.svg');
  background-size: cover;
}

.btn__action_delete {
  background: url('../../assets/img/circle-cancel.svg');
  background-size: cover;
}

.btn__action_save {
  border-radius: 40px;
  padding: 10px 22px;
  background-color: #54a630;
  color: #ffffff;
  border: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-size: 0.9375em;
}

input {
  border-radius: 40px;
  padding: 10px 22px;
  cursor: pointer;
}

.adding__input {
  background-color: #fefde9;
}