:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;
}

body {
  margin: 0;
}

a {
  color: #000000;
  text-decoration: inherit;
}

a:hover {
  color: #54a630;
}

/* button {
  border-radius: 40px;
  margin: 9.6px;
  padding: 20px 32px;
  background-color: #54a630;
  color: #ffffff;
  border: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-size: 0.9375em;
} */